* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
   width: 100%;
   height: 100%;
}

@font-face {
    font-family: 'switzer';
    src: url('./fonts/Switzer-Regular.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


#main{
    position: relative;
    z-index: 100;

}

#pointer{
    width: 12px;
    height: 12px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    z-index: 1000000;
}

.bound{
    width: fit-content;
    overflow: hidden;
}

.bound .bound-elem{
    transform: translateY(100%);
}

#hero{
    width: 100vw;
    height: 100dvh;
    background-color: #E9E9E9;
    position: relative;
}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw;
    font-family: switzer;
}

#nav-list{
    display: flex;
    justify-content: space-between;
    gap: 2.4vw;
    margin-right: 2vw;

}

#nav-list a{
    text-decoration: none;
    color: #111;
}
#nav-list h4{
    font-weight: 400;
    cursor: pointer;
}


#hero-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

#hero-content > img{
    position: absolute;
    right: calc(10vw);
    top: calc(3vw);
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    rotate: 5deg;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal, vertical, blur, spread, and color */
    border-radius: 8px; /* Optional: Adds rounded corners */
}
#title{
    font-family: apercu;
    display: flex;
    gap: 1vw;
    margin: -10px 100px;
    color: #111;
}

#title #role{
    font-size: calc(4vw + 1rem);
    line-height: 0.9;
    margin: 50px 25px;
    
}

#title #role h1:nth-child(2){
    padding-left: 150px;
}

#title #role h1{
    overflow: hidden;
    height: fit-content;
}


/* #title > :nth-child(2)::after{  /* > operator was needed becuase we are searching for 2nd direct children of #title , not second #title itself */
    /* content: '';
    display: block;    /* implementing a spacer */
    /* width: 15.7rem;
} */ 

#bio{
    width: 500px;
    margin: 0px 150px;
    font-family: switzer;
    font-weight: 600;
}

#bio #msg{
    font-size: 0.9rem;
    font-weight: 400;
    padding: 6px 12px;
    margin: 20px 0;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #111;
    cursor: pointer;
}

#bio #msg:hover{
    background-color: rgb(165, 240, 13);
    transition: all ease-in 0.1s;
    color:#111;
}

#experiences{
    display: flex;
    background-color: #E9E9E9;
    width: 100vw;
    position: relative;
}

#slide{
    height: 300dvh;
}

#page1{
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 min(8rem);
    
}

#heading{
    overflow: hidden;
}
#page1 #heading h1{
    font-size: calc(8vw + 2rem);
    font-family: apercu;
    text-transform: uppercase;
}

#scroll{
    width: min(5rem);
    height: min(5rem);
    border-radius: 50%;
    background-color: #111;
    color: #fff;
    font-family: switzer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#page2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    font-family: switzer;
    padding: min(4rem, 8%) min(6rem, 10%);
}
.job-profile{
    width: min(30vw, 40%);
}
#exp-card{
    width: min(40vw, 50%);
    background-color: white;
    padding: min(0.5vw + 1rem);
    border-radius: min(8px);
}
.banner img{
    height: auto;
    width: 100%;
    margin-bottom: min(1rem);
}

.details{
    display: flex;
    justify-content: space-between;
}
#page3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    font-family: switzer;
    padding: min(4rem, 8%) min(6rem, 10%);
}

.titles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.titles span{
    font-size: calc(0.5vw + 0.5rem);
}

#expertise{
    width: 100vw;
    height: 100dvh;
    background-color: #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: min(6vw, 10%);
    position: relative;
}


#expertise-heading h1{
    font-size: calc(8vw + 2rem);
    font-family: apercu;
    text-transform: uppercase;
    text-align: left;
    display: flex;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: min(5rem, 8%);
    justify-content: center;
}

.skill img{
    width: calc(20vw + 1 rem);
    height: calc(20vh + 1rem);
}


#contact{
    display: flex;
    width: 100vw;
    height: 100dvh;
    background-color: #E9E9E9;
    position: relative;
}

#socials a{
    text-decoration: none;
    color: #111;
}

#socials a i {
    font-size: calc(2vw + 1rem);
}

#contact-me{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#contact-me h1{
    font-size: calc(4vw + 1rem);
    font-family: apercu;
}
    

.form-container {
    width: 40vw;
    height: fit-content;
    margin: auto auto; 
    padding: min(2rem, 5%) min(1.5rem, 4%);
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: switzer;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: calc(1vw + 0.5rem);
  }

  .form-input,
  .form-textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;

  }

  .form-textarea {
    resize: none;
    height: 30vh;
    margin-bottom: 2vh;
  }

  .form-button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .form-button:hover {
    background-color: #0056b3;
  }